<% if !current_user.nil? %>

<section>
	<!-- Search Results -->
	<display class="srch-results">
		<div>
			<%= render partial: "list" %>
		</div>
	</display>
	<!-- Map -->
			<%= render partial: "map" %>
</section>

<!-- Itineraries -->

<section>
</section> -->

<!-- Calendar -->

<%= render partial: "calendar"%>

<% else %>

<!-- If logged out user will see the below landing page -->

<!-- Landing Page -->

<!-- Section 1 -->
<div class="the-bod">
		<section id="intro" data-speed="2" data-type="background">
		    <div class="container">
		        <div class="logo"><img src="<%= asset_path('logo_comp_1a.svg') %>"></div>
		    </div>
		</section>
		<!-- Section 2 -->
		<section id="home" data-speed="2" data-type="background">
		    <div class="container-fluid">
		      <div class="row">
		      <h1 class="text-center home-text b1">Travel itineraries like a bawse.</h1>
		      	<div class="col-md-5"></div>
		      	<button type="button" class="btn btn-lg landing-btn col-md-2" data-toggle="modal" data-target="#signupModal">
  		 	 SIGN UP
  			</button>
				<div class="col-md-5"></div>
				</div>
				</div>
		</section>
		<!-- Section 3 -->
		<section id="about" data-speed="2" data-type="background">
		    <div class="container">
		    	<div class="text-center b2">HAS A MAP!</div>
		    </div>
		</section>
				<!-- Section 4 -->
		<section id="last" data-speed="0" data-type="background">
		    <div class="container">
			    <div class="row">
			    	<div class="b3"></div>
			    	<div class="col-md-4 b5 text-left">Developed in Los Angeles, Ca.</div>
						<div class="col-md-4 b5 text-center">WDI_DTLA_01</div>
						<div class="col-md-4 b5 text-right">©2014</div>
					</div>
		    </div>
		</section>
	</div>

<!-- Landing Page end -->

<% end %>


