<div class="col-md-3"></div>
<div class="b4 col-md-6 text-center">STATS</div>
<div class="col-md-3"></div>

<div class="fluid-container">
	<div class="row"></div>
		<div class="col-md-2"></div>
		<div class="col-md-4">
			<div class="b3">EVENTS CREATED / <span class="b3a">{{results.length}}</span></div>
		</div>
		<div class="col-md-4">
			<div class="b3">ITINERARIES / <span class="b3a">{{results.length}}</span></div>
		</div>
		<div class="col-md-2"></div>
			<div class="row"></div>
		<div class="col-md-2"></div>
		<div class="col-md-4">
			<div class="b3">DAYS TRAVELLED / <span class="b3a">{{results.length}}</span></div>
		</div>
		<div class="col-md-4">
			<div class="b3">EVENTS CREATED / <span class="b3a">{{results.length}}</span></div>
		</div>
		<div class="col-md-2"></div>	<div class="row"></div>
		<div class="col-md-2"></div>
		<div class="col-md-4">
			<div class="b3">EVENTS CREATED / <span class="b3a">{{results.length}}</span></div>
		</div>
		<div class="col-md-4">
			<div class="b3">EVENTS CREATED / <span class="b3a">{{results.length}}</span></div>
		</div>
		<div class="col-md-2"></div>
</div>
