/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-color: #e6e6e6;
	font-family: helvetica;
}

/*red: #ed1c24; 		
navy: #09193e; 		
blue: #81dbeb ; 		
grey: #ddddd8 ;*/

th {
  width: 200px;
  font-weight: bolder;
 }

 hr {
 	margin-top: 5px;
	margin-bottom: 5px;
	border: 0;
	border-top: 4px solid #eee;
 }

.box {
	height: 100%;
	width: 200px;
	background-color: white;
	border: 2px solid black;
	text-align: center;
	vertical-align: middle;
	padding: 10px;
	margin-bottom: 30px;
	display: inline-block;
}

.box h1 {
	font-size: 60px;
	font-weight: 900;
	color: #ed1c24;
}

.box a {
	color: #81dbeb;
}

.outer-box {
	display: inline-block;
}

.itin-box {
	height: 100%;
	width: 100%;
	background-color: white;
	border: 2px solid black;
	padding: 10px;
	margin-bottom: 10px;
	margin-right: 10px; 
	display: inline-block;
}

.itin-box h3 {
	font-size: 18px;
	padding: 0px;
	margin: 0px;
	color: #09193e;
}

.item {
	height: 150px;
	width: 100px;
	background-color: white;
	text-align: center;
	padding: 20px;
}

.event-num {
	color: #ff0004  ;
	font-size: 74px;
	font-weight: 900;
}

.event-box {
	width: 100%;
	height: 100%;
	border: 2px solid black;
	background-color: white;
	padding: 20px;
	margin-right: 30px;
	margin-bottom: 30px;
}

.event-box h1 {
	margin: 0;
	padding: 0;
}
.event-box h3 {
	margin: 0;
	padding: 0;
}

.form-control {
  width: 500px;
}

.form-inline {
	margin-top: 10px;
}

.navbar-nav>li>.dropdown-menu {
background-color: #222;
color: white;
padding: 10px 10px 10px 40px;
width: 1100px;
margin-left: 100px;
margin-right: 95px;
border-color: 1px solid white;
}

.navbar-nav>li>.dropdown-menu .form-group {
	/*margin-top: 10px;*/
}