body {
	background-color: #ddddd8;
}

// variables

$red: #ed1c24;
$navy: #09193e;
$blue: #81dbeb;
$grey: #ddddd8;

// global styles

* {
  border-radius:(0) !important;
}

.logo {
	width: 75%;
}

.red {
	color: #ed1c24;
}

.mod-head {
	background-color: #09193e;
	color: #81dbeb;
}

.btn-primary {
	background-color: (#81dbeb) !important;
	color: #09193e;
}

//section styles
.sign-upin {
	margin-top: 150px;
}

.nav {
	background-color: #09193e;
}