<h1>Hello World</h1>

<div ng-controller="newEventController">

<form ng-submit="newEvent()">
	
<input type="text" name="title" ng-model="events.title">

<!-- Type of Food
<input type="text" name="food_type" ng-model="food.food_type"> -->

<button>Create</button>
</form>

</div>