<div class="google_map">
<ui-gmap-google-map center='map.center' zoom='map.zoom'>
  <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords"  idkey="marker.id">
      <ui-gmap-window options="windowOptions" closeClick="closeClick()" style="border:4px solid blue;;">
                <div style="width: 400px; height: 300px;">
                    <div style="with:400px; height: 150px">
                      <div style="float: left">
                          <span style="font-size: 20px; font-weight: bold">{{marker.venue_name}}</span>
                           </div><br><br>
                          <img src="{{marker.rating_img_url_large}}" alt="Venue Rating">
                          <br>
                          <span>Category: {{marker.category}}</span><br>
                          <span>{{marker.address1}}</span><br>
                          <span>{{marker.address2}}</span><br>
                          <span>{{marker.address3}}</span><br>
                          <span>{{marker.display_phone}}</span><br>
   
                      </div>
                      <div >
                         <img class="img-rounded" src="{{marker.image_url}}" alt="{{marker.name}}" style="float: right; height:80px; width: 80px; border-radius: 6px;">
                      </div>
                    </div style="width: 400px; height: 150px;">
                       <img src="{{marker.snippet_image_url}}" style="height: 50px; width: 50px; padding: 10px;">
                       <span>""{{marker.snippet_text}}""</span>
                    <div>
                    </div>
                </div>
      </ui-gmap-window>
  </ui-gmap-marker>
</ui-gmap-google-map>
</div>


