
<div style="border: 2px solid black; width: 100%; height: 600px;">
	<div class="google_map">
	<ui-gmap-google-map center='map.center' zoom='map.zoom'>
	</ui-gmap-google-map>
	</div>
</div>


<div class="container show-itin">

		<div ng-show="selectitin" ng-hide="showitin">
		<!-- <h2><strong>TRAVEL ITINERARIES</strong></h2> -->
			<div ng-repeat="x in results">
				<div class="">
						<h3><strong>{{x.name}}</strong> <em>{{ x.start_date | date:"MM/dd/yyyy" }}</em> to <em>{{ x.end_date | date:"MM/dd/yyyy" }}</em></h3>
						<a href="#" ng-click="showCalendar(x.id)">Show Calendar</a>
						<div style="">
						<a href="/itineraries/{{x.id}}/edit">Edit</a> | <a href="/itineraries/{{x.id}}">Show Full Itinerary</a> | <a rel="nofollow" data-method="delete" href="/itineraries/{{x.id}}">X</a>
						</div>
				</div>
			</div>
			</div>
	 		<div ng-repeat="x in calendar.date_range" class="">
		    <div class="">
		    	<p><strong>{{ x | date:"MMMM"}}</strong></p> 
		    	<p><em>{{ x | date:"EEEE"}}</em></p>
		    	<h1>{{ x | date:"dd"}}</h1>
		    	<a href="#" ng-click="showEvents(calendar.itinerary.id)">{{calendar.events.length }}</a> 
		    	  <!-- Needs to display # of events on that itinerary date  -->
		    	  <!-- Events with the same itinerary_id filtered by the same date -->
		    </div>

	</div>


<div ng-controller="itineraryController">

	<form ng-submit="showCalendar(17);">
		<button>Change to 17</button>
	</form>

<h2><strong>TRAVEL ITINERARIES</strong></h2>
<div ng-repeat="x in results">
	
	<div class="itin-box">
			<h3><strong>{{x.name}}</strong> <em>{{x.start_date | date:"MM/dd/yyyy" }}</em> to <em>{{x.end_date | date:"MM/dd/yyyy"}}</em></h3>
			
			<button ng-click="showCalendar(x.id);" class="btn btn-primary">Show Calendar</button>

			<div style="float:right">
				<a href="/itineraries/{{x.id}}/edit">Edit</a> | <a href="/itineraries/{{x.id}}">Show Full Itinerary</a> | <a rel="nofollow" data-method="delete" href="/itineraries/{{x.id}}">X</a>
			</div>

	</div>
</div>

	


<!-- <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" style="background-color:white;padding:20px;border:2px solid black;"></div> -->

<div class="calendar" ng-model="eventSources" calendar="myCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar" style="background-color:white;padding:20px;border:2px solid black;">
</div>

<br>
<hr>

			<div class="event-box" ng-show="showevent">
				<strong>{{show.start._f | date: "MM/dd/yyyy" }}</strong>
				<br>	
				<hr>
				<h3>{{show.title}} @ <em>{{show.location}}</em></h3>
				<em>{{show.category}}</em><br>
				{{show.description}}<br>
				<a href="{{show.main_url}}">Website</a><br>
				<button class="btn btn-primary" ng-click="showeventform =!showeventform"> + EVENT </button>
					<br>
					<div ng-show="showeventform">
						<br>
						<%= render partial: "events/eventform" %>
						<hr>
					</div>
			<div>
			

	
</div>

</div>

<!-- Google Map -->
<div style="border: 2px solid black;">
	<div class="google_map">
	<ui-gmap-google-map center='map.center' zoom='map.zoom'>
	</ui-gmap-google-map>
	</div>
</div>






