<!-- Map and search results -->

<section>
	<!-- Search Results -->
	<display class="srch-results">
		<div>
			<%= render partial: "list" %>
		</div>
	</display>
	<!-- Map -->
			<%= render partial: "map" %>
</section>

<!-- Itineraries -->

<section>
<div class="container show-itin">
		<div ng-show="selectitin" ng-hide="showitin">
			<div ng-repeat="x in results">
				<div class="col-md-4 itin itin-deets">
						<div class="b3b">{{x.name}} <em>{{ x.start_date | date:"MM/dd/yyyy" }}</em> to <em>{{ x.end_date | date:"MM/dd/yyyy" }}</em></div>
						<a href="#" ng-click="showCalendar(x.id)">Show Calendar</a>
						<div class="f2">
						<a href="/itineraries/{{x.id}}/edit">Edit</a> | <a href="/itineraries/{{x.id}}">Show Full Itinerary</a> | <a class="text-right" rel="nofollow" data-method="delete" href="/itineraries/{{x.id}}">X</a>
						</div>
				</div>
			</div>
			</div>
	 		<div ng-repeat="x in calendar.date_range" class="">
		    <div>
		    	<p><strong>{{ x | date:"MMMM"}}</strong></p> 
		    	<p><em>{{ x | date:"EEEE"}}</em></p>
		    	<h1>{{ x | date:"dd"}}</h1>
		    	<a href="#" ng-click="showEvents(calendar.itinerary.id)">{{calendar.events.length }}</a> 
		    	  <!-- Needs to display # of events on that itinerary date  -->
		    	  <!-- Events with the same itinerary_id filtered by the same date -->
	    </div>
	</div>
</div>
</section>

<!-- Events (old) -->

<!-- Needs to display events filtered by itinerary_id and date and start_time -->
<div ng-repeat="x in show.events ">
	<div class="event-box">
	<strong>{{x.date | date:"MM/dd/yyyy" }} @ <em>{{ x.start_time | date:"h:mma"}} TO {{x.end_time | date:"h:mma"}}</em></strong><br>	
	<hr>
	<h3>{{x.name}} @ <em>{{x.location}}</em></h3>
	<em>{{x.category}}</em><br>
	{{x.description}}<br>
	<a href="{{x.main_url}}">Website</a><br>
	<hr>
	<div>
	<br>
	<button class="btn btn-primary" ng-click="showevent =!showevent"> + EVENT </button>
	<br>
	<br>
<div ng-show="showevent">
	<%= render partial: "events/eventform" %>
</div>
</div>

</div>





