<div ng-controller="itineraryController">

	<form ng-submit="showCalendar(17);">
		<button>Change to 17</button>
	</form>

<h2><strong>TRAVEL ITINERARIES</strong></h2>
<div ng-repeat="x in results">
	
	<div class="itin-box">
			<h3><strong>{{x.name}}</strong> <em>{{x.start_date | date:"MM/dd/yyyy" }}</em> to <em>{{x.end_date | date:"MM/dd/yyyy"}}</em></h3>
			
			<button ng-click="showCalendar(x);" class="btn btn-primary">Show Calendar</button>

			<div style="float:right">
				<a href="/itineraries/{{x.id}}/edit">Edit</a> | <a href="/itineraries/{{x.id}}">Show Full Itinerary</a> | <a rel="nofollow" data-method="delete" href="/itineraries/{{x.id}}">X</a>
			</div>

	</div>
</div>

{{eventSources}}
	


<div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" style="background-color:white;padding:20px;border:2px solid black;">
</div>

<br>
<hr>

			<div class="event-box" ng-show="showevent">
				<strong>{{show.start._f | date: "MM/dd/yyyy" }}</strong>
				<br>	
				<hr>
				<h3>{{show.title}} @ <em>{{show.location}}</em></h3>
				<em>{{show.category}}</em><br>
				{{show.description}}<br>
				<a href="{{show.main_url}}">Website</a><br>
				<button class="btn btn-primary" ng-click="showeventform =!showeventform"> + EVENT </button>
					<br>
					<div ng-show="showeventform">
						<br>
						<%= render partial: "events/eventform" %>
						<hr>
					</div>
			<div>
			

	
</div>









